// Fonts
@font-face {
	font-family: "praterserifone-regularregular";
	src: url("../fonts/praterserifone-regular-webfont.eot");
	src: url("../fonts/praterserifone-regular-webfont.eot?#iefix") format('embedded-opentype'),
		url("../fonts/praterserifone-regular-webfont.woff2") format('woff2'),
		url("../fonts/praterserifone-regular-webfont.woff") format('woff'),
		url("../fonts/praterserifone-regular-webfont.ttf") format('truetype'),
		url("../fonts/praterserifone-regular-webfont.svg#praterserifone-regularregular") format('svg');
	font-weight: normal;
	font-style: normal;
}
// Colors
@color-context-intention: #73c48a;
@color-context-collective: #02b3bc;
@color-context-manifest: #f78471;
@color-context-services: #f7985d;
@color-context-default: white;
@color-neutral-dark: #333;

// Text
h1 {
  font-size: 60px;
  line-height: 64px;
  margin: 20px 0 0 0;
  padding: 0;
}
h2 {
  font-size: 30px;
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 34px;
}
h3 {
  font-size: 24px;
  line-height: 28px; 
  margin: 20px 0 15px 0;
}
// Acordiom Panel Title
h4  {
  font-size: 30px;
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 34px;
}

p {
  font-size: 18px;
  line-height: 24px; 
  margin: 20px 0 15px 0;
}

// Main
//row > div { 
//	outline: 1px dashed #f78471; 
	
//}
html {
	min-height: 100%;
}
body {
	&.context-collective { background-color: @color-context-collective; }
	&.context-manifest { background-color: @color-context-manifest; }
	&.context-services { background-color: @color-context-services; }
	&.context-intention { background-color: @color-context-intention; }
	background-image: url("../images/natural_paper.png");
	font-family: praterserifone-regularregular;
	min-height: 100%;
}
// Acordiom
.panel {
	background-color: @color-context-manifest;
	border:none;
	background-image: url("../images/natural_paper.png");
}
.panel-title  {
  font-size: 30px;
  margin: 3px 3px 3px 3px;
  padding: 0;
  line-height: 34px;
}
.panel-body  {
	border: none;
	font-size: 20px;
	margin: 0 0 0 0;
	padding: 14px;
	line-height: 30px;
}
.panel-default  {
	background-color: @color-context-manifest;
	border:none;
	background-image: url("../images/natural_paper.png");
}

// Navigations
.navbar {
	border: 1px dashed #1d1d1b;
	border-width: 1px 0 1px 0;
	background-image: url("../images/natural_paper.png");
	&.context-collective { background-color: @color-context-collective; }
	&.context-manifest { background-color: @color-context-manifest; }
	&.context-services { background-color: @color-context-services; }
	&.context-intention { background-color: @color-context-intention; }


	.navbar-brand img {
		width: 150px;
	}
.subnavbar {
	border: 1px dashed #1d1d1b;
	border-width: 1px 0 0 0;
	background-image: none;
	background-color: none;
	}	

	.navbar-nav {
		> li > a {
			background-color: rgba(255, 255, 255, 0.25);
			padding: 7px;
			border-radius: 7px;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: 2px;
			margin-right: 2px;
			color: @color-neutral-dark;
		}

		> li.active > a, > li > a:hover, > li.active > a:hover, > li.dropdown > a:hover {
			background-image: none;
			background-color: @color-neutral-dark;

			&.color-context-intention {
				color: @color-context-intention;
			}
			&.color-context-collective {
				color: @color-context-collective;
			}
			&.color-context-manifest {
				color: @color-context-manifest;
			}
			&.color-context-services {
				color: @color-context-services;
			}
			&.color-context-default {
				color: @color-context-default;
			}


		}
	}
}









.top5 { margin-top:5px !important; }
.top7 { margin-top:7px !important; }
.top10 { margin-top:10px !important; }
.top15 { margin-top:15px !important; }
.top17 { margin-top:17px !important; }
.top30 { margin-top:30px !important; }
.bottom7 { margin-bottom:7px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }
.left10 { margin-left:10px; }
.left25 { margin-left:25px !important; }
.right15 { margin-right:15px !important; }
.right7 { margin-right:7px !important; }


.w100 {
	width: 100%;
}
