<template name="Banner">
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 white-text text-darken-3 light">Design models for sustainable living solutions</h4>
        </div>
        {{!-- 
        <h1 class="header center teal-text text-lighten-2">
          <img src="/images/logo.svg" class=""> 
        </h1>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light light-blue darken-2">Get Started</a>
        </div>
        <br><br>
        --}}

      </div>
    </div>
    <div class="parallax"><img src="/images/alentejo.jpg" alt="Alentejo"></div>
  </div>
</template>